.menu-item .label{
    -fx-padding: 1 1 1 1;
    -fx-text-fill: WHITE;
}

/*.menu-bar {*/
/*    -fx-background-color: darkslategray;*/
/*    -fx-opacity: 0.5;*/
/*}*/


.menu-item {
    -fx-background-color: darkslategray;
    -fx-padding: 0em 0em 0em 0em;
    -fx-text-fill: #2f82ff;
}


/*.context-menu {*/
/*    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";*/
/*    -fx-background-color:darkslategray ;*/
/*    -fx-background-insets: 0, 1, 2;*/
/*    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;*/
/*    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; !* 4 1 8 1 *!*/
/*    -fx-opacity: 0.9;*/
/*}*/

